// Colors
$primary: #5c62c5;
$dark_grey: #363636;
$light_grey: #d8d8d8;
$white: #ffffff;
$danger: #ff2301;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$grayishBlue: #9698a5;
$lightGrayishBlue: #f3f4f6;

// font sizes
$xs: 12px;
$sm: 14px;
$md: 16px;
$lg: 18px;
$xl: 24px;

// transition
$normalTransition: all 0.3s ease;
$cubicTransition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

//shadow
$boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
